---
import "@/styles/globals.css";
import "@fontsource-variable/dancing-script";
import "@fontsource-variable/roboto-condensed";
import BaseHead from "src/components/BaseHead.astro";
import Footer from "src/components/Footer.astro";
import Navbar from "src/components/Navbar.astro";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <BaseHead title={title} description={description} image={image} />
    </head>
    <body class="dark bg-neutral-950 text-white">
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>
